# [default]
DEFAULT_PROVIDER="openai"
DEFAULT_MODEL="qwen3-max"
DEFAULT_API_KEY="your-api-key"
DEFAULT_BASE_URL="http://{your_openai_ip}/v1"

# [llm] if no default set
LLM_MODEL_ID="qwen3-max"
LLM_API_KEY="sk-..."
LLM_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# [mcp]
MCP_NAME="mcp_server_1"
MCP_BASE_URL="http://{your_mcp_ip}/sse"
MCP_API_KEY="123456"
MCP_ENABLED=true